@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

.cursor {
    cursor: pointer;
    color: #ff0000;
    font-weight: 600;
}

.edit-icon {
    cursor: pointer;
    color: #008000;
}