.remove-product {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.remove-product form {
    gap: 20px;
}

.remove-img-upload img {
    width: 120px;
}

.remove-product-name,
.remove-product-description {
    width: max(40%, 280px);
}

.remove-product-name input,
.remove-product-description textarea {
    padding: 10px;
}

.remove-category-price {
    display: flex;
    gap: 30px;
}

.remove-category-price select,
.remove-category-price input {
    max-width: 120px;
    padding: 10px;
}

.remove-btn {
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}