.cart-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-total-header {
    display: flex;
    align-items: center;
    gap: 50px;
}

.cart-total-header .info {
    font-style: italic;
    font-weight: 600;
    color: #555;
}

.cart-total-details {
    display: flex;
    justify-content: space-between;
    color: #555;
}

.cart-total hr {
    margin: 10px 0;
}

.cart-total button {
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: tomato;
    width: max(15vw, 200px);
    padding: 12px 0;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .cart-total button {
        margin-top: 20px;
        place-self: center;
    }
}